{% extends 'base.html' %}

{% block content %}

<section class="py-5">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold">Katalog Produk</h2>
        <p class="text-muted mb-0">Pilihan terbaik untuk anda</p>
    </div>

    <div class="row g-4">

        {% for p in produk %}

        <div class="col-md-4">

            <div class="card produk-card border-0 shadow-sm h-100">

                {% if p.gambar %}
                <img src="{{ p.gambar.url }}"
                     class="card-img-top produk-img">
                {% endif %}

                <div class="card-body d-flex flex-column">

                    <h5 class="produk-title">
                        {{ p.nama }}
                    </h5>

                    <h5 class="text-success fw-bold mb-4">
                        Rp {{ p.harga }}
                    </h5>

                    <a href="{% url 'detail_produk' p.id %}"
                       class="btn btn-success rounded-pill mt-auto">
                        Lihat Detail
                    </a>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}